<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>State</key>
		<string>直辖市</string>
		<key>Cities</key>
		<array>
			<string>北京</string>
			<string>上海</string>
			<string>天津</string>
			<string>重庆</string>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>安徽省</string>
		<key>Cities</key>
		<array>
			<string>合肥</string>
			<string>安庆</string>
			<string>蚌埠</string>
			<string>亳州</string>
			<string>巢湖</string>
			<string>滁州</string>
			<string>阜阳</string>
			<string>淮北</string>
			<string>淮南</string>
			<string>黄山</string>
			<string>六安</string>
			<string>马鞍山</string>
			<string>宿州</string>
			<string>铜陵</string>
			<string>芜湖</string>
			<string>宣州</string>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>福建省</string>
		<key>Cities</key>
		<array>
			<string>福州</string>
			<string>龙海</string>
			<string>龙岩</string>
			<string>南平</string>
			<string>宁德</string>
			<string>莆田</string>
			<string>泉州</string>
			<string>三明</string>
			<string>厦门</string>
			<string>漳州</string>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>云南省</string>
		<key>Cities</key>
		<array>
			<string>昆明</string>
			<string>保山</string>
			<string>大理</string>
			<string>曲靖</string>
			<string>思茅</string>
			<string>玉溪</string>
			<string>昭通</string>
		</array>
	</dict>
</array>
</plist>
