<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>棋类</string>
		<key>info</key>
		<array>
			<dict>
				<key>locationY</key>
				<string>116.339108</string>
				<key>locationX</key>
				<string>39.99218</string>
				<key>name</key>
				<string>马晓春少儿入门速成班</string>
			</dict>
			<dict>
				<key>locationY</key>
				<string>116.33898</string>
				<key>locationX</key>
				<string>39.991029</string>
				<key>name</key>
				<string>马晓春少儿初级速成班</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>locationY</key>
				<string>116.333744</string>
				<key>locationX</key>
				<string>39.990816</string>
				<key>name</key>
				<string>麦当当高数补习班</string>
			</dict>
			<dict>
				<key>locationY</key>
				<string>116.335943</string>
				<key>locationX</key>
				<string>39.990166</string>
				<key>name</key>
				<string>初高中数学补习班</string>
			</dict>
			<dict>
				<key>locationY</key>
				<string>116.340739</string>
				<key>locationX</key>
				<string>39.994482</string>
				<key>name</key>
				<string>初高中物理班</string>
			</dict>
		</array>
		<key>type</key>
		<string>运动</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>locationX</key>
				<real>39.991736</real>
				<key>locationY</key>
				<real>116.33516</real>
				<key>name</key>
				<string>亲子课</string>
			</dict>
			<dict>
				<key>locationX</key>
				<real>39.992082</real>
				<key>locationY</key>
				<real>116.3356</real>
				<key>name</key>
				<string>瑜伽高阶课</string>
			</dict>
		</array>
		<key>type</key>
		<string>舞蹈</string>
	</dict>
	<dict>
		<key>type</key>
		<string>补习</string>
		<key>info</key>
		<array>
			<dict>
				<key>locationX</key>
				<real>50.991736</real>
				<key>locationY</key>
				<real>120.33516</real>
				<key>name</key>
				<string>初高中英语补习课</string>
			</dict>
			<dict>
				<key>locationX</key>
				<real>40.991736</real>
				<key>locationY</key>
				<real>125.33516</real>
				<key>name</key>
				<string>高中物理补习课</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
