<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageList</key>
	<array>
		<dict>
			<key>width</key>
			<real>336</real>
			<key>height</key>
			<real>244.7</real>
			<key>url</key>
			<string>101.jpg</string>
			<key>title</key>
			<string>私教1</string>
			<key>mess</key>
			<string>私教图片－1</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>852</integer>
			<key>height</key>
			<integer>362</integer>
			<key>url</key>
			<string>102. jpg</string>
			<key>title</key>
			<string>私教2</string>
			<key>mess</key>
			<string>私教图片－2</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>600</integer>
			<key>height</key>
			<integer>399</integer>
			<key>url</key>
			<string>103.jpg</string>
			<key>title</key>
			<string>私教3</string>
			<key>mess</key>
			<string>私教图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<real>240</real>
			<key>height</key>
			<real>160</real>
			<key>url</key>
			<string>104.jpg</string>
			<key>title</key>
			<string>私教3</string>
			<key>mess</key>
			<string>私教图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>658</integer>
			<key>height</key>
			<integer>439</integer>
			<key>url</key>
			<string>105.jpg</string>
			<key>title</key>
			<string>私教1</string>
			<key>mess</key>
			<string>私教图片－1</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>1036</integer>
			<key>height</key>
			<integer>374</integer>
			<key>url</key>
			<string>106.jpg</string>
			<key>title</key>
			<string>私教2</string>
			<key>mess</key>
			<string>私教图片－2</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>600</integer>
			<key>height</key>
			<integer>399</integer>
			<key>url</key>
			<string>107.jpg</string>
			<key>title</key>
			<string>私教3</string>
			<key>mess</key>
			<string>私教图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>600</integer>
			<key>height</key>
			<integer>399</integer>
			<key>url</key>
			<string>108.jpg</string>
			<key>title</key>
			<string>私教2</string>
			<key>mess</key>
			<string>私教图片－2</string>
		</dict>
		<dict>
			<key>width</key>
			<real>275.6</real>
			<key>height</key>
			<real>393.7</real>
			<key>url</key>
			<string>109.jpg</string>
			<key>title</key>
			<string>私教3</string>
			<key>mess</key>
			<string>私教图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>1181</integer>
			<key>height</key>
			<integer>788</integer>
			<key>url</key>
			<string>110.jpg</string>
			<key>title</key>
			<string>私教3</string>
			<key>mess</key>
			<string>私教图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>717</integer>
			<key>height</key>
			<integer>1024</integer>
			<key>url</key>
			<string>111.jpg</string>
			<key>title</key>
			<string>私教3</string>
			<key>mess</key>
			<string>私教图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>3343</integer>
			<key>height</key>
			<integer>3543</integer>
			<key>url</key>
			<string>112.jpg</string>
			<key>title</key>
			<string>私教2</string>
			<key>mess</key>
			<string>私教图片－2</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>815</integer>
			<key>height</key>
			<integer>530</integer>
			<key>url</key>
			<string>113.jpg</string>
			<key>title</key>
			<string>私教3</string>
			<key>mess</key>
			<string>私教图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>550</integer>
			<key>height</key>
			<integer>733</integer>
			<key>url</key>
			<string>114.jpg</string>
			<key>title</key>
			<string>私教3</string>
			<key>mess</key>
			<string>私教图片－3</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>721</integer>
			<key>url</key>
			<string>115.jpg</string>
			<key>title</key>
			<string>私教1</string>
			<key>mess</key>
			<string>私教图片－1</string>
		</dict>
		<dict>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>436</integer>
			<key>url</key>
			<string>116.jpg</string>
			<key>title</key>
			<string>私教2</string>
			<key>mess</key>
			<string>私教图片－2</string>
		</dict>
	</array>
</dict>
</plist>
